mailing-list .container {
  font-family: var(--font);
}

mailing-list h1 {
  font-size: 24px;
  letter-spacing: -.02em;
  font-weight: 600;
  color: #FFF;
  margin: 0px;
}

mailing-list p {
  margin: 10px 0px 15px 0px;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: -.016em;
  color: var(--offwhite-text);
}

mailing-list .email-container {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
}

mailing-list input {
  flex-grow: 1;
  font-size: 15px;
  line-height: 1.428571429;
  color: #666;
  padding: 6px 12px;
  font-weight: 500;
}

mailing-list ion-button :first-child {
  height: 45px;
  margin: 0px;
}

mailing-list .submit-text {
  margin-top: 10px;
  color: #FFF;
}