
th-culture-page .grid {
  --background-image-url: url('/assets/images/culture-splash.jpg');
  display: grid;
  grid-template-columns: 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5% 12.5%;
}

th-header, th-footer {
  grid-column: 1 / 9;
}

th-culture-body-content {
  grid-column: 2 / 8;
}

th-culture-summary {
  grid-column: 1 / 9;
}
