
th-architecture-body-content .container {
  box-sizing: border-box;
  display: flex;
  flex-flow: column;
  font-family: var(--font);
  margin-bottom: 50px;
}

th-architecture-body-content h1 {
  font-size: 32px;
  color: var(nearly-black-text);
  font-weight: 500;
  letter-spacing: -0.84px;
  text-align: center;
}

th-architecture-body-content p, th-architecture-body-content ul {
  color: #576070;
  font-size: 20px;
  line-height: 34px;
  letter-spacing: -.02em;
  margin-top: 30px;
  margin-bottom: 30px;
}

th-architecture-body-content .strong {
  font-weight: 700;
}